

<!-- //////////////////////////////// -->

<div class="container mx-auto">


  <h3 class="text-center mt-20 text-warning" >Bienvenido</h3>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

  </div>

  <div class="carousel-inner  ">

    <div class="carousel-item active bg-transparent  " data-pause="hover" data-keyboard="true" data-bs-interval="2000">
          <img src="./assets/imagenes/silueta.jpg" class=" d-inline img-fluid ps-2 rounded-circle " alt="silueta">
          <div class="container">
            <div class="carousel-caption  d-inline-block d-md-block  text-white   bg-info" style="border-radius: 2rem">
                <h3>Actividades deportivas</h3>
                <p>Visita nuestras instalaciones</p>
            </div>
          </div>
    </div>

      <div class="carousel-item bg-transparent  " data-bs-interval="20000">

            <img src="./assets/imagenes/raqueta.jpg" class="d-block img-fluid ps-2 rounded-circle " alt="raqueta">


                <div class="carousel-caption  d-inline-block d-md-block text-white  ">
                  <h3>Pistas Deportivas  </h3>
                  <p>Mantente en forma jugando tenis y padel</p>
                </div>

      </div>



    <div class="carousel-item bg-transparent " data-bs-interval="20000">
      <img src="./assets/imagenes/bot.jpg" class="d-block img-fluid  ps-2 rounded-circle " alt="pelota">
      <div class="carousel-caption d-inline-block d-md-block  text-primary ">
        <h3>Reserva con Jarvis.</h3>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
