<!-- //////////////////////////////// -->

<div class="container mx-auto text-center">
  <h3 class=" mt-20 text-warning">Bienvenido</h3>

  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <div
        class="carousel-item active bg-transparent"
        data-pause="hover"
        data-keyboard="true"
        data-bs-interval="2000"
      >
        <img
          src="./assets/imagenes/silueta.jpg"
          class="d-inline img-fluid ps-2 rounded-circle"
          alt="silueta"
        />
        <div class="container">
          <div class="carousel-caption  d-md-block text-wrap">
            <div
              class="bg-primary bg-gradient text-warning d-inline-block p-1"
              style="border-radius: 1rem"
            >
              <h3>Pistas Deportivas</h3>
              <p>Visita nuestras instalaciones de tenis y padel</p>
            </div>
            <p>
              <em
                class="text-dark fs-4 bg-info bg-gradient p-1"
                style="border-radius: 1rem"
              >
                Haz posible lo imposible....</em
              >
            </p>
          </div>
        </div>
      </div>

      <div class="carousel-item bg-transparent" data-bs-interval="20000">
        <img
          src="./assets/imagenes/raqueta.jpg"
          class="d-inline img-fluid ps-2 rounded-circle"
          alt="raqueta"
        />

        <div class="carousel-caption  d-md-block text-wrap">
          <div
            class="bg-primary bg-gradient text-warning d-inline-block p-1"
            style="border-radius: 1rem"
          >
            <h3 >Actividades Deportivas </h3>
            <p>Mantente en forma jugando </p>
          </div>
          <p >
            <em
              class="text-dark fs-4 bg-info bg-gradient p-1"
              style="border-radius: 1rem"
            >
              ...Lo posible fácil....</em
            >
          </p>
        </div>
      </div>

      <div class="carousel-item bg-transparent" data-bs-interval="20000">
        <img
          src="./assets/imagenes/bot.jpg"
          class="d-inline img-fluid ps-2 rounded-circle"
          alt="robot"
        />
        <div class="carousel-caption d-inline-block d-md-block text-wrap">
          <h3
            class="bg-primary d-inline-block bg-gradient text-warning  p-1"
            style="border-radius: 1rem"
          >
            Reserva con Jerbies
          </h3>
          <p>
            <em
              class="text-dark fs-4 bg-info bg-gradient  p-1"
              style="border-radius: 1rem"
            >
             ... Y lo fácil elegante</em
            >
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
<div class="d-flex justify-content-end ">

  <img class="img-fluid "  src="../assets/imagenes/qrcode.png"  />
</div>

