<!-- <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="AgenteDeportivo"
  agent-id="e6a561b0-c21d-4491-b0c6-05dc23826eda"
  language-code="es"
></df-messenger> -->

<div class="container">
  <div class="msg-header">
    <div class="msg-header-img">
      <img src="../../assets/imagenes/bot.jpg" alt="imagen de un robot" />
    </div>
    <div class="active">
      <h4>Jerbies</h4>
      <h6>Conversation with a bot...</h6>
    </div>
  </div>
  <div class="chat-page">
    <div class="chat" id="msg-inbox">
      <div class="msg-page" id="msg-page">
        <nb-chat title="Chatbot">
          <nb-chat-message
            *ngFor="let msg of messages"
            type="text"
            [message]="msg.text"
            [reply]="msg.reply"
            [sender]="msg.sender"
            [date]="msg.date"
            [avatar]="msg.avatar"
          >
          </nb-chat-message>

          <nb-chat-message
            *ngIf="loading"
            [nbSpinner]="loading"
            nbSpinnerStatus="info"
            type="text"
            avatar="🤖"
            message="..."
          >
          </nb-chat-message>
        </nb-chat>
      </div>
    </div>

    <div class="msg-bottom">
      <nb-chat-form (send)="handleUserMessage($event)" [dropFiles]="false">
      </nb-chat-form>
    </div>
  </div>
</div>
