.container {
  max-width: 500 !important;
  margin: auto;
  margin-top: 4%;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  max-height: fit-content;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

.msg-header {
  border: 1px solid #ccc;
  width: 100%;
  height: 5em;
  border-bottom: none;
  background-color: #007bff;
}

.msg-header-img {
  border-radius: 50%;
  width: 3em;
  margin-left: 5%;
  margin-top: 5%;
  float: left;
}

.active {
  width: 10em;
  float: left;
  margin-top: 1.5em;
}

.active h4 {
  font-size: 1.25em;
  margin-left: 0.6em;
  color: #fff;
}

.active h6 {
  font-size: 0.6em;
  margin-left: 0.6em;
  line-height: 0.12em;
  color: #fff;
}

.chat-page {
  padding: 0 0 23em 0;
  color: #646464;
  max-height: fit-content;


}



.chat {
  padding: 2em 1em 0 1.5em;
  border: 1px solid #ccc;
  overflow: scroll;
  padding-bottom: 2em;
  background-color: #fff;
}

.msg-page {
  height: 45vh;
  overflow-y: auto;
}



.time {
  display: block;
  font-size: 0.8em;
  margin: .5em 0 0 .5em;
}


.msg-bottom {
  position: block;
  height: 10vh;
  background-color: #007bff;
  display: flex;
  align-items: center;
}

::ng-deep .sender {
  font-size: small;
  color: tomato;
}

::ng-deep svg {

  width: 100%;
}

::ng-deep .message-row {
  flex-flow: column;
  justify-content: space-between;
  text-align: center;

}

::ng-deep nb-layout-column {
  justify-content: center;
  display: flex;

}

::ng-deep .send-button {
  width: 80%;
  height: 40%;

}

::ng-deep .message-row>input {
  width: 90% !important;
  margin-bottom: 2px;
}
