<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <form   [formGroup]="loginForm" autocomplete="on" >
      <div class="modal-header">
        <h1 class="header modal-title" >Login</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="login-email">Dirección de Email </label>
          <input
            type="email"
            id="login-email"
            formControlName="email"
            class="form-control"
            autocomplete="username"
          />
        </div>
        <div class="form-group">
          <label for="login-password">Contraseña</label>
          <input
            type="password"
            id="login-password"
            class="form-control"
            formControlName="password"
            autocomplete="current-password"
          />

        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          (click)="tryLogin(loginForm.value)"
          class="btn btn-primary  "
          data-bs-dismiss="modal"
        >
          Login
        </button>


        <button
          type="button"
          class="btn btn-danger btn-block  "
          data-bs-dismiss="modal"
          (click)="tryGoogleLogin()"
        >
          Login con Google
        </button>


        <p class="text-center">
          ¿Aún sin cuenta?
          <a class="link-warning fw-bold" data-bs-toggle="modal"
          data-bs-target="#registerModal" data-bs-dismiss="modal" role="button">Crea una cuenta</a>
        </p>
      </div>

    </form>

  </div>
</div>
