<div
  class="card text-dark bg-info mt-5 mx-auto"
  style="width: 18rem; max-width: 500"
  id="formCard"
>
  <div class="card-body text-center mx-auto">
    <h4 class="card-title">Planificación de Actividades</h4>

    <form
      [formGroup]="planningForm"
      (ngSubmit)="updateActivities()"
      autocomplete="on"
    >
      <div class="form-group">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="tenis"
            name="activityType"
            #activityType
            formControlName="activityType"
            value="tenis"
          />
          <label class="form-check-label" for="tenis">Tenis</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="padel"
            #activityType
            name="activityType"
            formControlName="activityType"
            value="padel"
          />
          <label class="form-check-label" for="padel">Padel</label>
        </div>
      </div>
      <small *ngIf="activityTypeNoValid" class="text-danger"
        >Seleccione tenis o pádel.
      </small>
      <br />
      <div class="form-group">
        <label for="activityDay">Día</label>
        <input
          type="date"
          id="activityDay"
          #activityDay
          class="form-control"
          formControlName="activityDay"
          [class.is-invalid]="activityDayNoValid"
        />
        <div class="form-text">Marque un día del calendario</div>
        <small *ngIf="activityDayNoValid" class="text-danger"
          >Para crear una actividad seleccione un dia.
        </small>
      </div>
      <br />
      <div class="form-group">
        <label for="activityHour">Hora</label>
        <br />
        <select
          class="custom-select"
          id="activityHour"
          #activityHour
          formControlName="activityHour"
          [class.is-invalid]="activityHourNoValid"
          autocomplete="on"
          multiple
        >
          <option selected>Seleccione horas</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
          <option value="21:00">21:00</option>
        </select>
        <div class="form-text">Opción múltiple</div>
        <small *ngIf="activityHourNoValid" class="text-danger"
          >Para crear una actividad debe seleccionar al menos una hora.
        </small>
      </div>
      <br />
      <div class="">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-plus-circle"></i>
          Añade Actividad
        </button>
        <button class="btn btn-secondary" type="button" (click)="resetForm()">
          <i class="fas fa-sync-alt"></i>Reset
        </button>
      </div>
    </form>
  </div>
</div>

<hr />
<!--
  <pre>
  Estado del formulario: {{planningForm.valid }}
  <br>
  Status:{{planningForm.status}}
</pre>
<pre>
  {{ planningForm.value | json }}
</pre> -->
