<div class="sectionDiv">
  <h1>Users</h1>

  <br /><br />

  <table class="table table-success table-striped table-hover align-middle text-center caption-top">
    <caption class="text-dark">Lista de usuarios</caption>
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col" colspan="3" >Opciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>
          {{ user.email }}
        </td>
        <td>
          {{auth.checkAdmin(user.email)}}
        </td>
        <td>
          <button class="btn btn-warning" (click)="db.makeAdmin(user)" >
            HACER ADMIN
          </button>
        </td>
        <td>
          <button class="btn btn-warning" (click)="db.removeAdmin(user.key)" >
            QUITAR ADMIN
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="db.removeUser(user.key)">
            BORRAR
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
