/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@600&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'toast.css';
@import '~@nebular/theme/styles/prebuilt/default.css';

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: "Helvetica Neue", sans-serif, ;
}

html {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow:visible;
}

body {
  color: #bfe654;
  box-sizing: border-box;
  height: 100%;
  overflow-x: scroll;
}


.result {
  border-radius: 2rem;
}

.bg-dark {
  background-size: cover;
  width: auto;
}

.bg-img {
  /* The image used */
  background-image: url('./assets/imagenes/pista-dura-azul.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width:100%;
}

.container {
  overflow-x: auto;

}



.btn {
  border-radius: 3rem;

}
.btnGreen{
  background-color: #bcd8c1;
}


.userDiv{

  margin-left: 1rem;
}


a{
  text-decoration: none;
  color: #bfe654;
}

a:hover{
  text-decoration: none;
  color: #ffffff;
}



.modal-content {
  background-color: #4f94e4;
  border-radius: 2.5rem;
  box-shadow: 13px 13px 20px #74aef0, -13px -13px 20px #ffffff;

}

.custom-form input {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.modal-footer button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #bcd8c1;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}
