<div  class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <form [formGroup]="registerForm" autocomplete="on">
      <div class="modal-header">
        <h1 class="header modal-title">Registro</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="register-email">Dirección Email</label>
          <input
            type="email"
            id="register-email"
            formControlName="email"
            placeholder="Introduce tu email"
            aria-describedby="emailHelp"
            class="form-control"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            autocomplete="username"
          />
          <small id="emailHelp" class="form-text text-warning"
            >Nunca compartiremos tu email con nadie más</small
          >
        </div>
        <div class="form-group">
          <label for="register-password">Contraseña</label>
          <input
            type="password"
            id="register-password"
            class="form-control"
            placeholder="Introduce tu contraseña"
            formControlName="password"
            autocomplete="current-password"
          />

        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          (click)="tryRegister(registerForm.value)"
          class="btn btn-primary"
           data-bs-dismiss="modal"

        >
          Registro
        </button>
        <p style="text-align: center">
          Ya tienes cuenta?
          <a class="link-warning fw-bold" data-bs-toggle="modal"
          data-bs-target="#loginModal" data-bs-dismiss="modal" role="button">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>
